<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibackend.mapper.UserMapper">

    <update id="updateUserByReview">
        UPDATE users
        SET review_count = review_count + 1,
            rating = (rating * review_count + #{rating}) / (review_count + 1)
        WHERE id = #{toUserId}
    </update>
</mapper>